@import '../main';
:local{
	.signUpUi{
		color: grey;
		background: ghostwhite;
	    padding: 0 1em 1em 1em;
	    float:none;
	    margin:auto;
	}
	.inputContainer{

	}
	.titleContainer{
	    font-size: $SIZE-LEVEL-4;
	    border-bottom: 1px solid #00BFA5;
	    padding: .5em;
	}
	.actionContainer{
		margin-top:1em; 
	}
}