@import '../../main';
:local{
	.cardContainer{
	    margin-top: 10px;
	    background: #fff;
	    padding: 10px;
	    @include elevation();
	}
	.cardRibbonContainer{
		position: relative;
		margin-bottom: 15px;
	}
	.cardTitle{
		border-bottom: 1px solid rgba(128,128,128,0.3);
	    color: grey;
	    font-size: $SIZE-LEVEL-4;
	    font-weight: bold;
	    padding-bottom:5px;
	}
	.btnDefault{
		background-color: #00BCD4;
	    color: white;
	    min-width: 5em;
	    border-radius: 7px;
	    outline: none;
	    transition:all .4s ease;

	    a{
	    	color:white;
	    	text-decoration: none;
	    }
	    &:hover{
	    	transform:scale(1.05);
	    	color: white;
	    }

	}
	.primary{
		background-color: #ff9b00;
		color:white;
	}
	.cardShowMore{
		display: block;
	    position: relative;
	    bottom: 0;
	    border: 0;
	    width: 100%;
	    background: #1b92b7;
	    color: #fff;
	}
	span.cardEditButton .customedit{
		padding: 7px !important;
	}
	.cardItems {
		list-style: none;
	    text-align: center;
	    margin: 0;
	    padding: 0;
	}
	.orgNotification{
		margin: auto;
	}
	.orgItem {
	    color: #828282;
	    border-radius: 5px;
	    cursor: pointer;
	    font-weight: $WEIGHT_LEVEL_3;
        padding-top: 15px;
    	padding-bottom: 15px;
		&:hover{
			transition: all .2s ease;
			@include elevation();
		}
	}
	.orgItemCount {
	    background: #e88d46;
	    color: white;
	    border-radius: 10px;
	    display: inline-block;
	    width: 15px;
	    height: 15px;
	    line-height: 15px;
	    position: relative;
	    top: -8px;
	    font-size: 10px;
	}
	.orgItemName{
		font-size: $SIZE-LEVEL-5;
		position: relative;
		margin: 5px 0;
		color: #ababab;
    	white-space: nowrap;
	}
	.fs5em {
		font-size: $SIZE-LEVEL-2;
	}
	.customEdit{
	    color: rgba(128, 128, 128, 1);
	    width: rem-calc(50);
	    height: rem-calc(50);
	    text-align: center;
	    vertical-align: middle;
	    line-height: rem-calc(50);
	    cursor: pointer;
	    right: 10px;
	    @include transition();
	}
	.cardEditButton{
		position: relative;
		float: right;
		background: white;
	    border-radius: 50%;
	    border: 1px solid rgba(128, 128, 128, 0.3);
	    transform: translateY(-50%);
	    &:hover{
	    	background: rgba(128, 128, 128, 1);
	    	color: white;
	    	border: 1px solid rgba(128, 128, 128, 1);
	    }
	}
	.topRightEditButton{
		position: absolute;
		top: 7px;
		color: white;
	}
}
