@import '../../main';
:local{
	.cardContainer{
	    padding: 10px;
        background: #fff;
        position: relative;
	}
	.cardContainerss{
	    margin-top: 10px;
	    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        background: #fff;
	}
	.cardRibbonContainer{
		position: relative;
		height: 40px;
	}
	.cardTitle{
		font-weight: bold;
		font-size: 1.2em;
	}
	.cardEditButton{
		float: right;
	}
	.btnDefault{
		background-color: #00BCD4;
	    color: white;
	    min-width: 5em;
	    border-radius: 7px;
	    outline: none;
	    transition:all .4s ease;

	    a{
	    	color:white;
	    	text-decoration: none;
	    }
	    &:hover{
	    	transform:scale(1.05);
	    	color: white;
	    }

	}
	.primary{
		background-color: #ff9b00;
		color:white;
	}
	.cardShowMore{
		display: block;
	    position: relative;
	    bottom: 0px;
	    border: 0;
	    width: 100%;
	    background: #0bc5ff;
	    color: #fff;
	}
}