@import '../../main';
:local{
	.coverPicContainer{
	    width: 100%;
	    height: 16em;
	    background: #ffb53d;
	}
	.profilePicContainer{
	    width: 100%;
	    height: 16em;
	    background: #efe0c9;
	}
}