@import '../../main';
:local{
	.tabContainer{
		position:relative;
		width:100%;
		display:inline-block;
	    background: $GLOBAL_BORDER;
    	box-shadow: 0px 1px 1px #c7c7c7;
		.navTabs{
		    width: 45%;
    		margin: auto;
    		li{
    			display:inline-block;
    			a{
    				color:grey;
    			}
    		}
	    	a.active{
	    		color:$DEFAULT-FONT-COLOR;
	    		background-color:$TAB-ACTIVE-COLOR;
	    		&:before{
	    			content:" ";
	    			position:absolute;
	    			width:100%;
	    			bottom:0;
	    			left:0;
	    			height:4px;
	    			background-color:$TAB-ACTIVE-COLOR;
	    		}
	    	}
		}
	}
}