$THEME-COLOR: #273547;
$DEFAULT-FONT-COLOR:#FFF;
$TAB-INACTIVE-COLOR:rgba(255, 255, 255, 0.701961);
$TAB-ACTIVE-COLOR:#15abda;
$HEADER-BORDER-COLOR: #f1e05a;
$LAYOUT_BACKGROUND: #f5f5f5;
$GLOBAL_BORDER: #e8e8e8;
$FOOTER_BACKGROUND: #2d2b2b;
$SIZE-LEVEL-1: rem-calc(50);
$SIZE-LEVEL-2: rem-calc(40);
$SIZE-LEVEL-3: rem-calc(30);
$SIZE-LEVEL-4: rem-calc(25);
$SIZE-LEVEL-5: rem-calc(20);
$SIZE-LEVEL-6: rem-calc(15);
$SIZE-LEVEL-7: rem-calc(10);
$WEIGHT_LEVEL_1: 600;
$WEIGHT_LEVEL_2: 500;
$WEIGHT_LEVEL_3: 100;
