$THEME-COLOR: #273547;
$DEFAULT-FONT-COLOR:#FFF;
$TAB-INACTIVE-COLOR:rgba(255, 255, 255, 0.701961);
$TAB-ACTIVE-COLOR:#0bc5ff;
$HEADER-BORDER-COLOR: #f1e05a;
$LAYOUT_BACKGROUND: #f5f5f5;
$GLOBAL_BORDER: #e8e8e8;
$FOOTER_BACKGROUND: #2d2b2b;
