@import '../main';
:local{
	.contentLayoutContainer{
		position:relative;
		.leftContent{
			position: absolute;
		    z-index: 1;

		    @media screen and (max-width: 768px) {
			    top: 1.3em;
			}
		}
		.middleContent{
			position: relative;
			float:none;
		}
		.rightContent{
			position: absolute;
		}
	}
	.contentWrapper{
		position:relative;
	}
	.coverWrapper {
		position: relative;
		@include elevation();
	}
}