@import '../main';
:local{
	.mainContainer{
	    min-height: 100vh;
	    font-family: 'Roboto-Regular';
	    padding-top: 50px;
        padding-bottom: 15px;
	    background: $LAYOUT_BACKGROUND;
	}
} 