@import '../main';
:local{
	.profileLayoutContainer{
		position:relative;
		.leftContent{
			position: absolute;
		    z-index: 1;
		}
		.middleContent{
			position: relative;
			float:none;
		}
		.rightContent{
			position: absolute;
		}
	}
	.profileWrapper{
		position:relative;
	}
	.coverWrapper {
		position: relative;
		@include elevation();
	}
}