@import '../main';
:local{
	.profileSummaryCard{
	    position: relative;
	    width: 100%;
	    padding: 6%;
	    max-width: 220px;
	    background: #fff;
	    margin: auto;
	    top: -10em;
	    @include elevation();
	    
	    .infoContainer{
	    	list-style-type: none;
    	    padding: 0.5em .4em;
	    }
	}
}