@import '../main';
:local{
	.profileSummaryCard{
	    position: relative;
	    width: 100%;
	    background: #fff;
	    margin: auto;
	    top: -7.4em;
	    @include elevation();
	    font-size: $SIZE-LEVEL-5;

	    @media screen and (min-width: 768px) {
		    max-width: 220px;
		}

		@media screen and (max-width: 768px) {
		    top: 0em;
		    margin: 0em;
		}
	    
	    .infoContainer{
	    	list-style-type: none;
    	    padding: 0;
    	    hr {
    	    	margin-top: 10px;
    	    	margin-bottom: 10px;
    	    }
	    }

	    .infoContainerHeader{
	    	font-weight: 700;
    		padding: 0.4em 0 0.1em 0;
    		font-size: $SIZE-LEVEL-4;
	    }

	    .infoContainerSubHeader{
	    	font-size: $SIZE-LEVEL-5;
	    }

	    .infoContainerContent{
	    	font-size: $SIZE-LEVEL-5;
	    }

	    .infoContainerFooter{
	    	font-size: 10px;
    		padding: 0.4em 0 0.1em 0;
	    }

	    .infoContainerValue{
	    	float: right;
	    }

	    .infoContainerHeader{

	    }
	}

	.actionCard{
		position: relative;
	    width: 100%;
	    background: #fff;
	    margin: auto;
	    top: -6.4em;
	    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
	    border-radius: 2px;
	    font-size: 1.25rem;
	    max-width: 220px;
	}

	.widgetHeader{
		color: #FFF;
    	background-color: #15abda;
    	border-bottom: 1px solid #15abda;
    	padding: 5px 10px;
    	font-weight: 700;
    	font-size: $SIZE-LEVEL-4;
	}

	.widgetContent{
		padding: 10px;
	}
}